body {
    font-family: 'Slackey', cursive;
    color:#212121 
}
:root {
    --main-color : #212121
}

.btn.btu{
    color:#F5CF9D;
    padding:10px 20px;
    background: transparent;
    border:2px solid #F5CF9D;
    margin-top:30px;
    transition:all 0.5s ease-in-out
}
.btn.btu:hover{
    color:var(--main-color);
    background-color:#F5CF9D
}
/* Start scroll to top */
.scroll {
    z-index: 5000;
    position: relative;
    display:none;
    
}

.scroll  i {
    color:#fcb75e;
    position:fixed;
    bottom:40px;
    right:10px;
    font-size:40px;
    width:70px;
    height:50px;
    cursor:pointer;
   
}
.scroll i:hover{
    color:#212121
}
/* Start scroll to top */

/* Start header */
nav.navbar{
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 2px;
    box-shadow: 3px 3px 5px 3px #fdedd8; 
    background-color:#fff;
    overflow: hidden;
}
a.navbar-brand{
    padding-top:20px;
    color:var(--main-color);
    font-family: 'Slackey', cursive;
    font-size: 30px;
}
a.navbar-brand:hover {
    color:var(--main-color);
}
a.navbar-brand span {
    color:#f7c27e
}
.navbar ul li a{
    margin-top: 15px;
    margin-right:20px;
    font-weight:800;
    letter-spacing: 1.5px;
    color:var(--main-color);
    transition:all .5s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;   
}

.nav-item{
    color: #f7c27e;
    font-weight:800 ;
    
}
.navbar ul li.active a{
    color:#f7c27e
}

.navbar-toggler:focus, .navbar-toggler:hover {
    outline :0;
    color: #32e0c4
}
@media(max-width:768px) {

    .navbar i.fa.fa-bars {
        color:var(--main-color) !important
    }
}
/*End header */

/* start caorusel */
.carousel {
    
}
.carousel-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-inner{
    position:relative
}
.carousel-inner .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color :rgb(0,0,0,0.7);
    z-index: 1;
}
.carousel-inner .carousel-one{
    background-image: url('../img/slide1.jpg');
}
.carousel-inner .carousel-two{
    background-image: url('../img/slide2.jpg');
}
.carousel-inner .carousel-three{
    background-image: url('../img/slide3.jpg');
}
.carousel-control-prev,
.carousel-control-next{
    z-index: 6;
    margin-top:300px
}
.carousel-inner .carousel-box {
    position: absolute;
    z-index: 5;
    top:50%;
    left:13%
    
}
.carousel-inner .carousel-box span{
    color:var(--main-color);
    font-family: 'Slackey', cursive;
    font-size: 50px;
    text-shadow: 5px 6px 6px #f5cf9d;

    
}
.carousel-inner .carousel-box h1,
.carousel-inner .carousel-box p{
   
    font-weight:bolder;
    color:#f7b663;
    font-family: 'Slackey', cursive;
    font-size: 40px;
}
.carousel-inner .carousel-box p{
    font-size: 15px;
    line-height: 2;
    color:#facd91;
    width:60%;
    margin: 30px auto;
    font-family: 'Montserrat Alternates', sans-serif;
}
@media(max-width:768px){
    .carousel-inner .carousel-box {
        left:0
    }
    .carousel-inner .carousel-box h1{
        font-size: 25px;
        font-weight:200
    }
    .carousel-inner .carousel-box span{
        font-size:30px
    }
    .carousel-inner .carousel-box p{
        font-size:13px
    }
    .btn.btu{
        padding:5px 8px;
        font-size:13px
    }

}
 
/* End caorusel */
/* start services */
.services {
    padding:100px
}
.services h1 {
    text-shadow: 5px 3px #f5cf9d;
    font-family: 'Slackey', cursive;
    font-weight:100;
    font-size:40px;
    letter-spacing: 2px;
    color:var(--main-color);
    padding:40px 0
}
.services p {
    padding-top:30px;
    color:#a36a21;
    letter-spacing: 2px;
    line-height:2
}
.services .button {
    background-color: var(--main-color);
    color: #f7c27e;
    padding:10px 40px;
    margin-top:70px;
    text-transform: uppercase;
}
.services .button:hover {
    background-color: transparent;
    color:var(--main-color);
    border:2px solid #f7c27e;
 
  
}
@media(max-width:768px) {
    .services {
        padding:50px
    }
    .services p{
        font-size:15px
    }
    .services .gallery {
        padding:5px 15px
    }
}
/* end services */

/* Start about */
.about {
    padding: 80px 0;
    overflow: hidden;
}
.about .non{
    margin:0;
    padding:0
}
.about .about-img{
   padding:0;
   margin:0;
    position:relative
}
.about .about-img img{
    margin-left:-23px
}
.about .about-text {
    padding:0;
    width:70%;
    position: absolute;
    top:0;
    left:2%
}
.about .overlay{
    position:absolute;
    top:0;
    left:0;
    width:89%;
    height:100%;
    background-color :rgb(0,0,0,0.7);
    z-index: 1;
}
.about .about-text h1{
    text-shadow: 5px 3px #f5cf9d;
    font-family: 'Slackey', cursive;
    font-weight:100;
    font-size:40px;
    letter-spacing: 2px;
    color:var(--main-color);
    padding:40px 0
}
.about .about-text p {
    padding-top:50px;
    color:#a36a21;
    letter-spacing: 2px;
    line-height:2
}
.about .button {
    background-color: var(--main-color);
    color: #a36a21;
    padding:10px 50px;
    margin-top:90px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about .button:hover {
    background-color: transparent;
    color:var(--main-color);
    border:2px solid #a36a21; 
}

/* End about */
/* start offers */
.offers {
    padding:130px;
    display:block
}

.offers h1 {
    text-shadow: 5px 3px #f5cf9d;
    font-family: 'Slackey', cursive;
    font-weight:100;
    font-size:50px;
    letter-spacing: 3px;
    color:var(--main-color);
    padding-bottom:50px
}
.offers .get-offer{
    position: relative;
    padding:10px;
    margin-top:40px
}
.offers span{
    font-family: 'Slackey', cursive;
    font-weight:bolder;
    font-size: 50px;
    color:#be8a45;
    
}
.offers .get-offer p{
    text-align: center;
    color:var(--main-color);
    font-family:'Slackey', cursive;
    font-size:20    px;
    padding:30px
}
.offers .get-offer:before {
    content:'';
    width:140px;
    height:3px;
    background-color:#ce9244;
    position: absolute;
    bottom:20px;
    left:30%;
    text-align: center;
    margin-top:30px
}

/* end offers */

/* Start testimonials */
.testimonials {
    background:url('../img/sec4.jpg') fixed center;
    background-size:cover;
    height:600px
}
.testimonials .text {
    padding-top:100px;
  
}
.testimonials h1{
    text-shadow: 5px 3px #f5cf9d;
    font-family: 'Slackey', cursive;
    font-weight:100;
    font-size:50px;
    letter-spacing: 3px;
    color:var(--main-color);
    padding-bottom:50px;

}
.testimonials p {
    font-weight:bold;
    text-align: center;
    margin-top:30px;
    color:var(--main-color)
}
.testimonials .button {
    background-color: var(--main-color);
    color: #a36a21;
    padding:10px 50px;
    margin-top:90px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.testimonials .button:hover {
    background-color: transparent;
    color:var(--main-color);
    border:2px solid #a36a21;
 
  
}

/* End testimonials */

/* Start gallery */

.gallery{
    padding-top:100px
}
.gallery .photo{
    position:relative;
    margin-left:15%
}
.gallery .overlay{
    position:absolute;
    top:0;
    left:0;
    width:81%;
    height:100%;
    background-color :rgb(247 194 126 / 47%);;
    z-index:10;
    cursor: pointer;
    transition:all 0.5s ease-in-out;
}

.gallery .overlay:hover {
    opacity: 0;
}
.gallery h1{
    text-shadow: 5px 3px #f5cf9d;
    font-family: 'Slackey', cursive;
    font-weight:100;
    font-size:50px;
    letter-spacing: 3px;
    color:var(--main-color);
    padding-bottom:50px;
}

.gallery .photo {
   border-radius:5px
}
.gallery .photo img{
    display:block;
    border:2px solid #f5cf9d;
    cursor: pointer;
    transition:all 0.5s ease-in-out;
    box-shadow: #212121;
}
.gallery .photo:hover img{
    transform: scale(1.1);
}
.gallery .photo a {
    display:none;
    text-transform: uppercase;
    font-family: 'Slackey';
    color:var(--main-color)
}
.gallery .photo:hover a {
    display:block;
    position:absolute;
    bottom:30px;
    left:30px
}
/* End gallery */

/* Start get touch */

.get-touch {
    padding-top:100px;
}
.get-touch .map {
   background:url('../img/map1.jpg');
   background-position: center;
   background-size: cover;
   height:600px;
}
.get-touch .touch {

}
.get-touch .touch h1 {
    text-shadow: 5px 3px #f5cf9d;
    font-family: 'Slackey', cursive;
    font-weight:100;
    font-size:50px;
    letter-spacing: 3px;
    color:var(--main-color);
    padding-bottom:20px;
}
.get-touch .touch .form{
  
    
}
.get-touch .touch .form input,
.get-touch .touch .form textarea{
   padding:5px 10px;
    margin:10px 0 10px;
    width:350px;
    border:2px solid #484848
}
.get-touch .touch .form textarea{
    height:100px
}
.get-touch .touch .form input::placeholder,
.get-touch .touch .form textarea::placeholder{
    color:#656464
}
.get-touch .touch .form input[type=submit]{
    background-color: var(--main-color);
    color: #a36a21;
    padding:10px 5px;
    width:150px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1;
    margin-top:30px;
    transition: all 0.5s ease-in-out
}
.get-touch .touch .form input[type=submit]:hover {
    background-color: transparent;
    color:var(--main-color);
    border:2px solid #a36a21; 
}

/* End get touch */

/* Start Fotter */

.footer {
    padding:30px 0;
    background-color:var(--main-color);  
    border-top: 2px solid #ffca9d; 
}

.footer a.footer-brand {
    color:#fcb75e;
    font-family: 'Slackey', cursive;
    font-size: 35px;
    letter-spacing: 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    float:left;
    margin-left: -100px;
    margin-top: 14px;
}
 a.footer-brand span {
    color:#F7B663;
    padding:5px
}
.footer .social-icons{
    
}
.footer .social-icons .icon{
    display:inline-block;
    font-size:30px;
    color:#fcb75e;
    margin:10px;
    border-radius:50%;
    float:right;
   
}
.footer .social-icons .icon i{
    transition:all .5s ease;
    font-size:30px;
    color:#fcb75e;
    margin:5px; 
    background-color:transparent;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius: 50%;
    transition:all 0.5s ease;
    text-align: center;
}
.footer .social-icons .icon i:hover {
    color:var(--main-color);
    background-color:#fcb75e;
    width:50px;
    height:50px;
    border-radius: 50%;
    text-align: center;
    transform: scale(1.1);
    
}
 /* End Footer */